@model BelediyeProject.Models.RaporIslemViewModel

@{
    ViewBag.Title = "Rapor İşlemleri";
    Layout = "~/Views/Shared/_AnaSayfaLayoutPage.cshtml";

}

@section HeadSection
{


}

@section MenuSection
{
    @foreach (var menuItem in Model.Menu.Where(p => p.UstMenuId == null))
    {
        @Html.Raw("<li>")
        if (string.IsNullOrEmpty(menuItem.Link))
        {
            <a href='#'><i class="fa fa-th-large"></i> <span class="nav-label">@menuItem.Adi</span> <span class="fa arrow"></span></a>

            @Html.Raw("<ul class='nav nav - second - level'>")

            foreach (var subMenuItem in Model.Menu.Where(p => p.UstMenuId == menuItem.Id))
            {
                <li><a href='@subMenuItem.Link'>@subMenuItem.Adi</a></li>
            }

            @Html.Raw("</ul>")
        }
        else
        {
            <a href='@menuItem.Link'><i class="fa fa-th-large"></i> <span class="nav-label">@menuItem.Adi</span></a>
        }

        @Html.Raw("</li>")
    }
}

@section MainSection
{
    @using (Html.BeginForm())
    {
        <script type="text/javascript">

            $(function () {
                $("#IslemRaporBaslangic").datepicker(
                    {
                        dateFormat: "dd.mm.yy",
                        autoSize: true,
                        dayNames: ["pazar", "pazartesi", "salı", "çarşamba", "perşembe", "cuma", "cumartesi"],
                        dayNamesMin: ["pa", "pzt", "sa", "çar", "per", "cum", "cmt"],
                        defaultDate: +5,
                        maxDate: "+2y+1m +2w",
                        minDate: "-1y-1m -2w",
                        monthNamesShort: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                        nextText: "ileri",
                        prevText: "geri",
                    });
            });

            $(function () {
                $("#IslemRaporBitis").datepicker(
                    {
                        dateFormat: "dd.mm.yy",
                        autoSize: true,
                        dayNames: ["pazar", "pazartesi", "salı", "çarşamba", "perşembe", "cuma", "cumartesi"],
                        dayNamesMin: ["pa", "pzt", "sa", "çar", "per", "cum", "cmt"],
                        defaultDate: +5,
                        maxDate: "+2y+1m +2w",
                        minDate: "-1y-1m -2w",
                        monthNamesShort: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                        nextText: "ileri",
                        prevText: "geri",
                    });
            });

        </script>

        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel blank-panel">
                        <div class="panel-heading">
                            <div class="panel-title m-b-md"><h4>Rapor İşlemleri</h4></div>
                            <div class="panel-options">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-1">İşlem Raporları</a></li>
                                    @*<li><a data-toggle="tab" href="#tab-2">Birime Göre Kullanım Raporları</a></li>*@
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="ibox-title" style="min-height:60px;">
                                        <div class="ibox-tools">
                                            <a class="link" href="/RaporIslem/Index">
                                                <i class="fa fa-refresh"></i>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="ibox-content">
                                        <div class="table-bordered">
                                            <table style="width:100%;" border="1">
                                                <tr>
                                                    <td>
                                                        &nbsp; Başlangıç :
                                                    </td>
                                                    <td>@Html.DatePickerFor(m => m.IslemRaporBaslangic, "autoclose=true", "todayBtn=true", "todayHighlight=true")</td>
                                                    <td>
                                                        &nbsp; Bitiş :
                                                    </td>
                                                    <td>@Html.DatePickerFor(m => m.IslemRaporBitis, "autoclose=true", "todayBtn=true", "todayHighlight=true")</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        &nbsp; Dosya Açılma Nedeni :
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.IslemRaporDosyaAcilmaNedenTipKey,
                                                               new SelectList(Model.IslemRaporDosyaAcilmaNedenTipler, "DosyaAcilmaNedenTipKey", "DosyaAcilmaNedenTipAdi"),
                                                               new
                                                               {
                                                                   @class = "form - control m - b",
                                                                   @required = "",
                                                                   @style = "width:200px"
                                                               })
                                                    </td>
                                                    <td>
                                                        &nbsp; Dosya Durumu :
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.IslemRaporDosyaDurumTipKey,
                                                               new SelectList(Model.IslemRaporDosyaDurumTipler, "DosyaDurumTipKey", "DosyaDurumTipAdi"),
                                                               new
                                                               {
                                                                   @class = "form - control m - b",
                                                                   @required = "",
                                                                   @style = "width:200px"
                                                               })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        &nbsp; Gönderilen Birim :
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.IslemRaporDosyaGonderilenBirimTipKey,
                                                               new SelectList(Model.IslemRaporDosyaGonderilenBirimTipler, "DosyaGonderilecekBirimTipKey", "DosyaGonderilecekBirimTipAdi"),
                                                               new
                                                               {
                                                                   @class = "form - control m - b",
                                                                   @required = "",
                                                                   @style = "width:200px"
                                                               })
                                                    </td>
                                                    <td>
                                                        &nbsp; Mesaj Tipi :
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.IslemRaporDosyaMesajTipKey,
                                                               new SelectList(Model.IslemRaporDosyaMesajTipler, "DosyaMesajTipKey", "DosyaMesajTipAdi"),
                                                               new
                                                               {
                                                                   @class = "form - control m - b",
                                                                   @required = "",
                                                                   @style = "width:200px"
                                                               })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        &nbsp; Mesaj :
                                                    </td>
                                                    <td>
                                                        @Html.TextAreaFor(m => m.IslemRaporMesaj, new { @style = "width:100%;height:50px;" })
                                                    </td>
                                                    <td>
                                                        &nbsp; Aciklama :
                                                    </td>
                                                    <td>
                                                        @Html.TextAreaFor(m => m.IslemRaporAciklama, new { @style = "width:100%;height:50px;" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        &nbsp; Aktif Mi? :
                                                    </td>
                                                    <td>&nbsp; @Html.CheckBoxFor(m => m.IslemRaporAktifMi)</td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="text-center">
                                                        <br />
                                                        <input type="submit" id="Ara" value="Ara" class="btn btn-success" style="width:200px;" />
                                                        <br />
                                                        <br />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Dosya Açılma Nedeni</th>
                                                        <th>Dosya Durumu</th>
                                                        <th>Gönderilen Birim</th>
                                                        <th>Mesaj Tipi</th>
                                                        <th>Mesaj</th>
                                                        <th>Açıklama</th>
                                                        <th>İşlem Zamanı</th>
                                                        <th>AktifMi</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var liste in Model.IslemRaporListeler)
                                                    {
                                                        <tr>
                                                            <td>@liste.DosyaAcilmaNedenTipAdi</td>
                                                            <td>@liste.DosyaDurumTipAdi</td>
                                                            <td>@liste.DosyaGonderilecekBirimTipAdi</td>
                                                            <td>@liste.DosyaMesajTipAdi</td>
                                                            <td>@liste.Mesaj</td>
                                                            <td>@liste.Aciklama</td>
                                                            <td>@liste.IslemZamani</td>
                                                            <td>
                                                                @if (@liste.AktifMi)
                                                                {
                                                                    @Html.Raw("Aktif")
                                                                }
                                                                else
                                                                {
                                                                    @Html.Raw("Pasif")
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                @*<div id="tab-2" class="tab-pane">
                                    <div class="ibox-title" style="min-height:60px;">
                                        <div class="pull-left">
                                            @Html.DatePickerFor(m => m.BirimeGoreKullanimRaporBaslangic, "autoclose=true", "todayBtn=true", "todayHighlight=true")
                                        </div>
                                        <div class="pull-left">
                                            @Html.DatePickerFor(m => m.BirimeGoreKullanimRaporBitis, "autoclose=true", "todayBtn=true", "todayHighlight=true")
                                        </div>
                                        <div class="pull-left">
                                            <input type="submit" id="Ara" value="Ara" class="btn btn-success" />
                                        </div>
                                        <div class="ibox-tools">
                                            <a class="link" href="/RaporIslem/Index">
                                                <i class="fa fa-refresh"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                      @Html.Partial("/Views/Partial/KullanimRapor.cshtml")
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}

