@using BelediyeProject.Entities;
@model BelediyeProject.Models.DosyaIslemViewModel

@{
    ViewBag.Title = "Dosya Detayları";
    Layout = "~/Views/Shared/_AnaSayfaLayoutPage.cshtml";
}

@section MenuSection
{
    @foreach (var menuItem in Model.Menu.Where(p => p.UstMenuId == null))
    {
        @Html.Raw("<li>")
        if (string.IsNullOrEmpty(menuItem.Link))
        {
            <a href='#'><i class="fa fa-th-large"></i> <span class="nav-label">@menuItem.Adi</span> <span class="fa arrow"></span></a>

            @Html.Raw("<ul class='nav nav - second - level'>")

            foreach (var subMenuItem in Model.Menu.Where(p => p.UstMenuId == menuItem.Id))
            {
                <li><a href='@subMenuItem.Link'>@subMenuItem.Adi</a></li>
            }

            @Html.Raw("</ul>")
        }
        else
        {
            <a href='@menuItem.Link'><i class="fa fa-th-large"></i> <span class="nav-label">@menuItem.Adi</span></a>
        }

        @Html.Raw("</li>")
    }
}

@section MainSection
{
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.DosyaKey)
        @Html.HiddenFor(m => m.Kullanici)
        @*@Html.HiddenFor(m=>m.DosyaGonderilecekBirimTipKey)*@
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="text-left">
                                <h3>
                                    Mesaj Detayları
                                </h3>
                            </div>
                            <div class="text-right">
                                <a href="#" onclick='window.open("/DosyaIslem/Yazdir/"+@Model.DosyaKey,"_blank", "toolbar=yes, scrollbars=yes, resizable=yes, screen.height/2, screen.width/2, width=540, height=960"); return false;'>Yazdır</a>
                            </div>
                            <div class="form-horizontal m-t-md">
                                <div class="wrapper wrapper-content">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Mesaj No</a>
                                                </h4>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <label class="col-sm-2 col-sm-2 control-label">@Model.DosyaKey</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Mesaj İçeriği</a>
                                                </h4>
                                            </div>
                                            <div id="collapse2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <label class="col-sm-2 col-sm-2 control-label">@HttpUtility.HtmlDecode(@Model.Mesaj)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Dosya Açılma Nedeni</a>
                                                </h4>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <label class="col-sm-2 col-sm-2 control-label">@Model.tt_DosyaAcilmaNedenTip.DosyaAcilmaNedenTipAdi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Ad-Soyad ve İletişim Bilgileri</a>
                                                </h4>
                                            </div>
                                            <div id="collapse4" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <label class="col-sm-2 col-sm-2 control-label">@Model.Adi @Model.Soyadi - @Model.IrtibatNo</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Gönderilecek Birim</a>
                                                </h4>
                                            </div>
                                            <div id="collapse5" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <label class="col-sm-2 col-sm-2 control-label">@Model.tt_DosyaGonderilecekBirimTip.DosyaGonderilecekBirimTipAdi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Mesaj Tipi</a>
                                                </h4>
                                            </div>
                                            <div id="collapse6" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <label class="col-sm-2 col-sm-2 control-label">@Model.tt_DosyaMesajTip.DosyaMesajTipAdi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Kullanıcı IP</a>
                                                </h4>
                                            </div>
                                            <div id="collapse7" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <label class="col-sm-2 col-sm-2 control-label">@Model.IpAdres</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">GPS Koordinatları - Harita</a>
                                                </h4>
                                            </div>
                                            <div id="collapse8" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="500" height="500" src='https://maps.google.com/maps?hl=en&q=   @Model.Enlem  @Model.Boylam &ie=UTF8&t=roadmap&z=15&iwloc=B&output=embed'><div><small><a href="http://embedgooglemaps.com">embedgooglemaps.com</a></small></div><div><small><a href="http://buyproxies.io/">private proxy</a></small></div></iframe>

                                                    <label class="col-sm-2 col-sm-2 control-label full-width">@Model.Enlem - @Model.Boylam</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">İşlem Zamanı</a>
                                                </h4>
                                            </div>
                                            <div id="collapse9" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <label class="col-sm-2 col-sm-2 control-label">@Model.IslemZamani</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">Dosya Durumu</a>
                                                </h4>
                                            </div>
                                            <div id="collapse10" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <label class="col-sm-2 col-sm-2 control-label">@Model.tt_DosyaDurumTip.DosyaDurumTipAdi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">Dosya Konum Tipi</a>
                                                </h4>
                                            </div>
                                            <div id="collapse11" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <label class="col-sm-2 col-sm-2 control-label">
                                                        @if (@Model.tt_DosyaKonumTip != null)
                                                    {
                                                        @Model.tt_DosyaKonumTip.DosyaKonumTipAdi
                                                    }
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">Açıklama</a>
                                            </h4>
                                        </div>
                                        <div id="collapse12" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                @Html.TextAreaFor(m => m.Aciklama, new { @style = "width:100%;height:50px;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">Resimler</a>
                                            </h4>
                                        </div>
                                        <div id="collapse13" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                @foreach (var item in Model.DosyaResims)
                                                {
                                                    <p>
                                                        <div class="image-crop">
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        <img src="~/Uploads/Resim/@item.DosyaYolu">
                                                                    </td>
                                                                </tr>
                                                                @*<tr>
                                                                        <td>
                                                                            @if (Model.ResimHashDogrulama(item.DosyaResimKey))
                                                                            {
                                                                                <i class="fa fa-check-square"></i>
                                                                            }
                                                                            else
                                                                            {
                                                                                <i class="fa fa-minus-square"></i>
                                                                            }
                                                                        </td>
                                                                    </tr>*@
                                                            </table>

                                                        </div>
                                                    </p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">Özel Bildirim Gönder</a>
                                            </h4>
                                        </div>
                                        <div id="collapse14" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                @Html.TextAreaFor(m => m.Bildirim, new { @style = "width:100%;height:50px;" })
                                                <br />
                                                <br />
                                                <div class="text-right">
                                                    <input type="submit" id="BildirimGonder" value="Gönder" formaction="/DosyaIslem/BildirimGonder" class="btn btn-info" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">Kara Liste</a>
                                            </h4>
                                        </div>
                                        <div id="collapse15" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="text-center">
                                                    <input type="submit" id="KaraListeyeAl" value="Kullanıcıyı Kara Listeye Al" formaction="/DosyaIslem/KaraListeyeAl" class="btn btn-danger" onclick="return confirm('Kullanıcıyı kara listeye almak istediğinize emin misiniz?')"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (BelediyeProject.Business.GirisIslemBS.KullaniciDataGetir().KullaniciRolTipKey == 1 ||
BelediyeProject.Business.GirisIslemBS.KullaniciDataGetir().KullaniciRolTipKey == 2 ||
BelediyeProject.Business.GirisIslemBS.KullaniciDataGetir().KullaniciRolTipKey == 4)
                        {
                            <div class="form-group text-center">
                                @Html.DropDownListFor(m => m.DosyaGonderilecekBirimTipKey,
                                                               new SelectList(Model.GonderilecekBirimTip, "DosyaGonderilecekBirimTipKey", "DosyaGonderilecekBirimTipAdi"),
                                                               new
                                                               {
                                                                   @class = "form - control m - b",
                                                                   @required = "",
                                                                   @style = "width:200px"
                                                               })
                                <input type="submit" id="Yonlendir" value="Yönlendir" formaction="/DosyaIslem/Yonlendir" class="btn btn-success" />
                                <input type="submit" id="Sil" value="Sil" formaction="/DosyaIslem/Sil" class="btn btn-danger" />
                            </div>
                        }
                        else
                        {
                            <div class="form-group text-center">
                                <input type="submit" id="KabulEt" value="Kabul Et" formaction="/DosyaIslem/KabulEt" class="btn btn-success" />
                                <input type="submit" id="Reddet" value="Reddet" formaction="/DosyaIslem/Reddet" class="btn btn-warning" />
                                <input type="submit" id="Sil" value="Sil" formaction="/DosyaIslem/Sil" class="btn btn-danger" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
}