@model BelediyeProject.Models.KullaniciIslemViewModel

@{
    ViewBag.Title = "Kullanıcı İşlemleri";
    Layout = "~/Views/Shared/_AnaSayfaLayoutPage.cshtml";
}

@section MenuSection
{
    @foreach (var menuItem in Model.Menu.Where(p => p.UstMenuId == null))
    {
        @Html.Raw("<li>")
        if (string.IsNullOrEmpty(menuItem.Link))
        {
            <a href='#'><i class="fa fa-th-large"></i> <span class="nav-label">@menuItem.Adi</span> <span class="fa arrow"></span></a>

            @Html.Raw("<ul class='nav nav - second - level'>")

            foreach (var subMenuItem in Model.Menu.Where(p => p.UstMenuId == menuItem.Id))
            {
                <li><a href='@subMenuItem.Link'>@subMenuItem.Adi</a></li>
            }

            @Html.Raw("</ul>")
        }
        else
        {
            <a href='@menuItem.Link'><i class="fa fa-th-large"></i> <span class="nav-label">@menuItem.Adi</span></a>
        }

        @Html.Raw("</li>")
    }
}

@section MainSection
{
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div style="float:right">
                    @Html.ActionLink("Yeni Kullanici Oluştur", "Kaydet", "KullaniciIslem", null, null)
                </div>
                <div class="panel blank-panel">
                    <div class="panel-heading">
                        <div class="panel-title m-b-md"><h4>Kullanıcı İşlemleri</h4></div>
                        <div class="panel-options">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Yönetim Kullanıcıları</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2">Program Kullanıcıları</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="ibox-title">
                                    <div class="ibox-tools">
                                        <a class="link" href="/KullaniciIslem/Index">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Kullanıcı Adı</th>
                                                    <th>Kullanıcı Rolü</th>
                                                    <th>Aktif</th>
                                                    <th>İşlemler</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var yonetimKullanicilari in Model.YonetimKullanicilari)
                                                {
                                                    <tr>
                                                        <td>@yonetimKullanicilari.KullaniciKey</td>
                                                        <td>@yonetimKullanicilari.KullaniciAdi</td>
                                                        <td>@yonetimKullanicilari.tt_KullaniciRolTip.KullaniciRolTipAdi</td>
                                                        <td>
                                                            @if (@yonetimKullanicilari.AktifMi)
                                                            {
                                                                @Html.Raw("Aktif")
                                                            }
                                                            else
                                                            {
                                                                @Html.Raw("Pasif")
                                                            }
                                                        </td>
                                                        <td>
                                                            <a href="/KullaniciIslem/Guncelle/@yonetimKullanicilari.KullaniciKey">Düzenle</a>
                                                            @Html.ActionLink(
                                                            "Sil",
                                                            "Sil",
                                                            new { id = yonetimKullanicilari.KullaniciKey },
                                                            new { onclick = "return confirm('Silmek istediğinize emin misiniz?');" })
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="ibox-title">
                                    <div class="ibox-tools">
                                        <a class="link" href="/KullaniciIslem/Index">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Kullanıcı Adı</th>
                                                    <th>Kullanıcı Rolü</th>
                                                    <th>İşletim Sistemi</th>
                                                    <th>Register ID</th>
                                                    <th>Device Token</th>
                                                    <th>Mac Adresi</th>
                                                    <th>Aktif</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var programKullanicilari in Model.ProgramKullanicilari)
                                                {
                                                    <tr>
                                                        <td>@programKullanicilari.KullaniciKey</td>
                                                        <td>@programKullanicilari.KullaniciAdi</td>
                                                        <td>@programKullanicilari.tt_KullaniciRolTip.KullaniciRolTipAdi</td>
                                                        <td>@programKullanicilari.tt_KullaniciIsletimSistemiTip.KullaniciIsletimSistemiTipAdi</td>
                                                        <td>@programKullanicilari.RegisterId</td>
                                                        <td>@programKullanicilari.DeviceToken</td>
                                                        <td>@programKullanicilari.MacAdres</td>
                                                        <td>
                                                            @if (@programKullanicilari.AktifMi)
                                                            {
                                                                <span style="color:lawngreen">@Html.Raw("Aktif")</span>
                                                            }
                                                            else
                                                            {
                                                                <a style="color:red" href="/KullaniciIslem/KullaniciAktif/@programKullanicilari.KullaniciKey" onclick="return confirm('Kullanıcıyı aktif yapmak istediğinize emin misiniz?')">
                                                                    @Html.Raw("Pasif")
                                                                </a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}